body {
  transition: 500ms ease all;
  animation: 1500ms ease-in-out infinite color-change;
}

.hop {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 99.6vw;
}

video source {
  width: 10px;
}